@font-face {
    font-family: Vermillion;
    src: url(Vermillion.ttf);
}

:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

[data-theme="spooky"] {
    --primary-color: #582323;
    --secondary-color: #AC7575;
    --font-color: rgb(143, 121, 121);
    --bg-color:  #200000;
    --heading-color: #818cab;
    --font-family: Vermillion;
}



body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--font-family);
}

#output {
    display: none;
}

.displayOutput {
    font-size: 14pt;
}
